PORT=5000
FRONTEND_ORIGIN=http://localhost:5173

# Supabase Postgres connection
DATABASE_URL="postgres://postgres.xxx:[YOUR-PASSWORD]@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgres://postgres.xxx:[YOUR-PASSWORD]@aws-0-REGION.pooler.supabase.com:5432/postgres"

# Clerk Auth integration
# From Clerk Dashboard -> API Keys
CLERK_SECRET_KEY=sk_test_replace_me
CLERK_PUBLISHABLE_KEY=pk_test_...
# From Clerk Dashboard -> Webhooks -> Signing Secret
CLERK_WEBHOOK_SECRET=whsec_replace_me

# Pusher integration
# From Pusher Channels -> App Keys
PUSHER_APP_ID=replace_me
PUSHER_KEY=replace_me
PUSHER_SECRET=replace_me
PUSHER_CLUSTER=ap1

# Uploadthing integration
# From UploadThing dashboard
UPLOADTHING_SECRET=sk_live_replace_me
UPLOADTHING_APP_ID=replace_me
